 /* .cart{
    display: flex flex wrap;
}
.productdiv{
    display: flex;
}
 .description2{
/*    display: flex;
    justify-content: center;
    padding-top: 25px;
     padding: 10%;
     
     margin-top: 26px;  */
}  */